# Git
config/git/local

# brewfile
config/brewfile/Brewfile.lock.json

# vim, nvim
.netrwhist
init.vim.old
packer_compiled.lua

# fish
config/fish/fishd.*
config/fish/fish_variables
config/fish/completions/docker.fish
config/fish/completions/docker-compose.fish
config/fish/completions/kubectl.fish
config/fish/completions/gcloud.fish
config/fish/completions/gsutil.fish
config/fish/functions/gcloud_sdk_argcomplete.fish

!.gitkeep
