config/git/local
config/nvim/dein/
config/nvim/cache/vim-backup/*
config/nvim/cache/vim-undo/*
config/nvim/cache/nviminfo
config/fish/fishd.*
config/fish/config.local.fish
vim/dein/
.netrwhist
!.gitkeep
